.nav-section{
    background-color: #000;
    height: 80px;
}
.nav-section li{
    margin-right: 10px;
    list-style: none;

}
.nav-section li a{
    margin-right: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}